<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="1st year at Curcle" />
<meta property="og:description" content="We have been working hard throughout the year to keep up to our mission i.e "To enable Individuals Globally to Lead Successful, Meaningful & Fulfilling lives". We tried our best to come up with ideas, content which could benefit and bring a change to your life. Whether its Entrepreneurship path or Ideas, Jobs or Stories all have been shared keeping in view that you and us learn and improve." />
<meta property="og:url" content="http://curcle.co/journey/" />
<meta property="og:site_name" content="Curcle" />
<meta property="og:image" content="http://curcle.co/journey/curcle-1.jpg" />
<meta name="googlebot" content="noindex">
<title>Journey at Curcle</title>
<link rel="shortcut icon" href="http://curcle.co/favicon.png"/>
	<link href='http://curcle.co/web/wp-content/themes/curcle/v2/css/avenirnext.css' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Droid+Serif:r,b,i,bi|Droid+Sans:r,b" rel="stylesheet" type="text/css"/>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Playfair+Display%3A400%2C400italic%2C700%2C700italic%7CLato%3A400%2C400italic%2C700%2C700italic%7CMontserrat%7C&amp;ver=1.0' type='text/css' media='all'/>
<link rel="stylesheet" href="screen.min.css">
<script src="assets/js/bootstrapper.js"></script>
<style>
.curcle-timeline {
    position: fixed;
    width: 74%;
}

.date {
    color: #333;
    font-family: Droid Sans,Arial;
    font-size: 14px!important;
}
.title {
    font-family: Avenir Next,Open Sans,Arial;
    font-size: 16px;
	color:#333;
}

@media (min-width: 300px) and (max-width: 1346px) {
	.curcle-timeline {
		position: inherit!important;
		width: 100%!important;
	}
}
</style>
</head>
<body>
<div id="container" class="curcle-container">
	<div class="curcle-timeline-view">
		<header class="curcle-header">
		<div class="main-strip">
			<img class="logo" src="main.png"/>
			<div class="social">
				<a target="_blank" href="https://twitter.com/home?status=Lets%20take%20a%20look%20over%20how%20%23Curcle%20performed%20at%20their%201st%20year%20http%3A//curcle.co/journey/%20via%20%40cucle_co" class="icon icon-twitter"></a>
				<a target="_blank"  href="https://plus.google.com/share?url=http%3A//curcle.co/journey/" class="icon icon-gplus"></a>
				<a  target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//curcle.co/journey/" class="icon icon-facebook"></a>
			</div>
		</div>
		<div class="intro">
			<div class="content">
				<h1>Take a journey through the 1st <span style="white-space: nowrap;">year at Curcle</span></h1>
				<p>
					 We have been working hard throughout the year to keep up to our mission i.e "To enable Individuals Globally to Lead Successful, Meaningful & Fulfilling lives".  We tried our best to come up with ideas, content which could benefit and bring a change to your life. Whether its Entrepreneurship path or Ideas, Jobs or Stories all have been shared keeping in view that you and us learn and improve. 
				</p>
				<p>Together We, Together We Will, Learn, Improve and Contribute. The future is bright indeed.	
				</p>
				<p>Shahzaib Khan,<span style="display: block;font-size: 12px;">Founder Curcle</span>
				</p>
			</div>
		</div>
		</header>
		<div class="curcle-timeline">
			<div class="curcle-timeline-container">
				<div class="wave-container">
					<img class="wave" src="assets/img/timeline-wave.png"/>
				</div>
				<div class="markers">
					<div class="marker image down ">
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="dots large">
									</div>
									<div class="content">
										<div class="date">
											31st Dec 2014
										</div>
										<div class="title">
											Curcle Launched
										</div>
										
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
									<div class="image-wrapper">
										<div class="image" style="border: 1px solid #E8DDDD;">
											<img src="assets/img/curcle-1.png"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="marker point up " >
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="content">
										<div class="title">
											Curcle was launched with a mission to enable individuals globally to lead successful, meaningful & fulfilling lives
										</div>
									</div>
									<div class="dots large">
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="marker image down ">
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="content">
										<div class="date">
											Curcle for Entrepreneurs
										</div>
										<div class="title">
											The first path was introduced at Curcle
										</div>
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
									<div class="image-wrapper">
										<div class="image">
											<img src="assets/img/entrepreneur.png"/>
										</div>
									</div>
								</div>
							</div>
							</div>
					</div>
					<div class="marker point up " >
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="content">
										<div class="title">
											The entrepreneurship path aim was to provide enough of the information which can allow any maker to get started.
										</div>
									</div>
									<div class="dots large">
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="marker image down ">
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="content">
										<div class="date">
											Entrepreneur 101 
										</div>
										<div class="title">
											First Track on Curcle was Launched for Entrepreneurs
										</div>
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
									<div class="image-wrapper">
										<div class="image">
											<img src="assets/img/curcle-entrepreneur.png"/>
										</div>
									</div>
								</div>
							</div>
							</div>
					</div>
					<div class="marker point up " >
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="content">
										<div class="title">
											Currently more than 5000 students have taken benefit from it and glad to mention that the numbers are still growing.
										</div>
									</div>
									<div class="dots large">
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="marker leaps down ">
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="dots large">
									</div>
									<div class="content">
										<div class="date" style="display:block">
											Ideas by Curcle
										</div>
										<div class="title" style="display: block;color:#333">
A platform for ideas was launched, to help learn about innovative design and smart engineering. 
										</div>
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="marker point up " >
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="content">
										<div class="title">
A total of 100+ Ideas were shared from the differet aspects of life covering the field of design, engineering, mobile and web apps.										
</div>
									</div>
									<div class="dots medium">
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="marker image down ">
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="content">
										<div class="date">
											Started Curcle Stories
										</div>
										<div class="title">
											Sharing you the insights from the live of the people who made a difference in your lives
										</div>
										<div class="quiz-message">
										</div>
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
									<div class="image-wrapper">
										<div class="image">
											<img src="assets/img/curcle-stories.png"/>
										</div>
									</div>
								</div>
							</div>
							</div>
					</div>
					
					
					<div class="marker point up " >
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="content">
										<div class="title">
Around 8 stories were shared were highly appreciated via the readers.
</div>
									</div>
									<div class="dots medium">
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="marker image down " >
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="dots large">
									</div>
									<div class="content">
										<div class="date">
											Jobs by Curcle
										</div>
										<div class="title">
											We introduced internships & fresh graduates opportunities
										</div>
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
									<div class="image-wrapper">
										<div class="image">
											<img src="assets/img/curcle-jobs.png"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="marker point up " >
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="content">
										<div class="title">
											More than 250+ Jobs were published in the last 6 months and have contrinuted to the lives of 70000+ students.
										</div>
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
									<div class="dots medium">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="marker leaps down">
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="dots large">
									</div>
									<div class="content">
										<div class="date" style="display:block">
											Answers by Curcle
										</div>
										<div class="title" style="display:block;color:#333">
To contribute more to the field of learning. 
										</div>
									</div>
									<div class="point-wrapper">
										<div class="point" style="background-image: url(assets/img/question.png)">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="marker image down">
						<div class="container--position">
							<div class="container--alignment">
								<div class="marker--content">
									<div class="date" style="font-weight: 700;">
										Curcle Turns 1 Today.
									</div>
									<div class="point-wrapper">
										<div class="point">
										</div>
									</div>
									<div class="image-wrapper">
										<div class="image">
											<img src="assets/img/curcle-turns-1.png"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img class="hand" src="assets/img/hand.svg"/>
	</div>
</div>
</body>
</html>